<main>
    <div class="image-title">
        <img src="assets/JFK_Hero.png" alt="">
        <p class="title">Discours de JFK</p>
    </div>
    <p class="quote">
        “Lorem ipsum dolor sit amet consectetur. Neque amet aliquet posuere dolor habitasse sem. Non nulla vitae a vulputate malesuada auctor. Nisi iaculis turpis mattis quam massa ut ut. Ac lectus vulputate interdum tellus enim. Egestas sed cursus ultricies amet.”
    </p>
    <div class="player">
        <img src="assets/Play.png" alt="">
    </div>
</main>