p {
    font-family: inter;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0;
}

div{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 40px;
}