$Cblack: #131010;
$Cyellow: #FFD18D;
$Cdarkyellow: #E59B59;
$Cbrown: #aa6728;
$Cgreen: #91CA61;
$Cgrey: #D9D9D9; 

main{
    display: flex;
    align-items: center;
    background-color: $Cyellow;
    padding: 7px;
    border-radius: 100px;
    max-width: fit-content;
    height: 45px;
    max-width: 277px;
}

button{
    background-color: $Cgreen;
    height: 33px;
    width: 33px;
    border-radius: 100px;
    border: none;
    margin-right: 10px;
}


img{
    margin: 5px 3px;
}