<!-- <mat-icon class="delete-icon" (click)="removeaudio()">delete</mat-icon> -->
<div
  class="file-upload-wrapper"
  [class.success]="uploadSuccess"
  [class.error]="uploadError"
  (drop)="onFileDrop($event)"
  (dragover)="onDragOver($event)"
>
  <input
    type="file"
    accept="audio/*"
    (change)="onFileChange($event)"
    hidden
    #fileInput
  />
  <div class="file-dropper">
    <div *ngIf="!(selectedFile)" class="file-dropper">
      <mat-icon>upload</mat-icon>
      <p >{{ "Importer un fichier audio"}}</p>
    </div>
    <div *ngIf="audioName()">
      <div *ngIf="selectedFile || audioPreview" class="preview">
        <div class="d-flex">
          <mat-icon>audiotrack</mat-icon>
          <p>
            <span class="audio-name">{{ audioName() }}</span> ({{
              fileSize()
            }} KB)
          </p>
          <mat-icon class="delete-icon" (click)="removeaudio()">delete</mat-icon>
        </div>
        <button class="nettoyer-button" (click)="postFile()">
          Nettoyer
          <mat-icon>star</mat-icon>
        </button>
      </div>  
    </div>
  </div>
</div>