$Cblack: #131010;
$Cyellow: #FFD18D;
$Cdarkyellow: #E59B59;
$Cbrown: #aa6728;
$Cgreen: #91CA61;
$Cgrey: #D9D9D9;

.file-upload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #ccc;
    padding: 0px;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
  }

.file-upload-wrapper.success {
  border-color: green;
}

.file-upload-wrapper.error {
  border-color: red;
}

.file-dropper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-name {
  font-weight: bold;
}

.image-preview {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.delete-icon {
  cursor: pointer;
  color: red;
  &:hover{
    color: black;
  }
}

.preview{
  justify-items: center;
  width: fit-content;
}

@keyframes colorAnimation {
    0%{
      color: black;
      transform: rotate(0deg);
    }
    50%{
      color: $Cgreen;
    }
    100%{
      color: black;
      transform: rotate(360deg);
    }
}

.nettoyer-button{
  border: none;
  background-color: $Cgreen;
  color: black;
  font-family: inter;
  font-weight: bold;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  top: 100px;

  mat-icon{
    display: none;
  }

  &:hover {
    background-color: black;
    color: $Cgreen;

    mat-icon{
      display: inline;
      color: black;
      position: absolute;
      bottom: 12.5px;
      right: 15px;
      font-size: 15px;
      width: 18px;
      height: 15px;
      animation: colorAnimation;
      animation-duration: 2s;
    }
  }
}