main{
    padding: 70px 70px;
    min-height: 85vh;
}

span{
    font-family: 'inter';
    font-weight: bold;
}

p{
    font-family: 'inter';
}

.text-column{
    p{
        margin-top: 10px;
        max-width: 509px;
        font-size: 14px;
    }
}