<main class="container-fluid">
        <div class="nettoyer-row container-fluid">
            <div class="text-column">
                <span class="title">Restaurer</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur. In pharetra sit et tempor adipiscing. At adipiscing lorem dui dignissim neque suspendisse eu amet. Turpis convallis urna vel elit eu pellentesque cursus ipsum gravida. Integer aliquam diam vel eleifend dapibus cursus. Tempor fermentum sed aliquet cras quam at arcu cras. Ut aliquam libero lorem bibendum rutrum rhoncus arcu lacus eget. In interdum et mauris justo diam a molestie augue sapien. Ut vestibulum amet erat nullam. Euismod nec sagittis sit elementum mauris nulla duis venenatis tempus. Ut libero sit dictum ultricies diam est velit malesuada. Massa enim ut tortor semper ut lacus fermentum dui. Adipiscing.
                </p>
                <div class="exemple">
                    <span class="title">Exemple</span>
                    <p>Avant</p>
                    <app-audio-player [url]="'assets/test-bruité.mp3'" [id]="'example1'"/>
                    <p>Après</p>
                    <app-audio-player [url]="'assets/test-nettoyé.wav'" [id]="'example2'"/>
                </div>
            </div>

            <div class="file-area">
                
            </div>
        </div>
        <div class="principe container-fluid">
            <span class="title">Principe</span>
            <p>La procédure se fait en trois étapes: </p>
            <div class="etapes">
                <div class="etape">
                    <div class="image-circle">
                        <img src="assets/drop-white.png" alt="">
                    </div>
                    <p class="subtitle">Importation</p>
                </div>
                <img src="assets/line.png" alt="" class="line">
                <div class="etape">
                    <div class="image-circle">
                        <img src="assets/process.png" alt="">
                    </div>
                    <p class="subtitle">Importation</p>
                </div>
                <img src="assets/line.png" alt="" class="line">
                <div class="etape">
                    <div class="image-circle">
                        <img src="assets/download.png" alt="">
                    </div>
                    <p class="subtitle">Importation</p>
                </div>
            </div>
        </div>
</main> 