<main>
    <div class="hero">
        <img src="assets/kenedy.png" alt="" class="kenedy">
        <img src="assets/martin.png" alt="" class="martin">
        <div class="logo-area">
            <img src="assets/logo.png" alt="">
            <p class="app-name">AppName</p>
            <p class="title">Les voix d'hier au rythme d'aujourd'hui</p>
            <button>
                Commencer
            </button>
        </div>
        <div class="mic-area">
            <img src="assets/top-sound-wave.png" alt="" class="waveforms">
            <img src="assets/microphone.png" alt="" class="microphone">
        </div>
    </div>

    <div class="second-section">
        <div class="left">
            <p class="big-title">Vos souvenirs en haute qualité</p>
            <p class="subtitle">Restaurez des fichiers audios en trois étapes</p>
            <div class="process">
                <div class="importation">
                    <img src="assets/drop-white-big.png" alt="">
                    <span>Importation</span>
                </div>
                <div class="nettoyer">
                    <img src="assets/process-big.png" alt="">
                    <span>Nettoyage</span>
                    <span class="text">
                        Grâce à notre algorithme performant, vous le travail est finis en deux temps trois mouvements!
                    </span>
                </div>
                <div class="telechargement">
                    <img src="assets/download-big.png" alt="">
                    <span>Téléchargement</span>
                </div>
            </div>
        </div>
        <div class="right">
            <p class="big-title">Aucun téléchargent requis!</p>
            <p class="subtitle">Toutes les fonctionnalités sont disponibles sur notre site!</p>
            <img src="assets/computer.png" alt="">
        </div>
    </div>

    <div class="third-section">
        <div class="top">
            <p class="big-title">Le traitement du signal dans toute sa grandeur</p>
            <p>Supprimez les imperfections des vos fichiers audios!</p>
        </div>
        <div class="d-flex">
            <div class="third-selection-item">
                <div class="image-holder">
                    <img src="assets/bruit.png" alt="">
                </div>
                <p>Bruits de fond</p>
            </div>
            <div class="third-selection-item">
                <div class="image-holder">
                    <img src="assets/pops.png" alt="">
                </div>
                <p>Clics et pops</p>
            </div>
            <div class="third-selection-item">
                <div class="image-holder">
                    <img src="assets/echos.png" alt="">
                </div>
                <p>Echos</p>
            </div>
            <div class="third-selection-item">
                <div class="image-holder">
                    <img src="assets/silences.png" alt="">
                </div>
                <p>Silences</p>
            </div>
        </div>
        <button class="c-button">
            Essayer
        </button>
    </div>
    <div class="fourth-section">
        <p class="big-title">Reconnectez vous avec l’histoire grâce à notre gallerie.</p>
        <div class="gallery-items">
            <app-home-gallery-tile></app-home-gallery-tile>
            <app-home-gallery-tile></app-home-gallery-tile>
            <app-home-gallery-tile></app-home-gallery-tile>
            <app-home-gallery-tile></app-home-gallery-tile>
            <app-home-gallery-tile></app-home-gallery-tile>
            <app-home-gallery-tile></app-home-gallery-tile>
        </div>
        <button class="c-button">
            Explorer
        </button>
    </div>
</main>